:root {
  --bs-green: #139744;
}

.btn {
  border-radius: 0 !important;
}

.fsql-container {
  padding: 40px;
  background-color: var(--bs-dark);
  min-height: 100vh;
  color: var(--bs-green);
}

.fsql-results {
  padding-top: 40px;
}

.fsql-textarea {
  background-color: var(--bs-gray-dark);
  color: var(--bs-gray-400);
  font-family: monospace;
  outline: none;
}

.fsql-textarea:focus {
  background-color: var(--bs-gray-dark);
  color: var(--bs-gray-400);
}
